<section class="success" id="package">
    <div class="container">
        <div class="row">
        	<div class="col-md-1" id="border"></div>
            <div class="col-md-10 text-center">
            	<div class="row">
            		<h3> Classic </h3>
            		<ul class="list-unstyled">
            			<li>All day video coverage with 2 videographers</li>
            			<li>Highlight video (4-7 minutes)</li>
            			<li>Content delivered on a USB stick in a customized wooden box</li>
            		</ul>
            	</div>
            	<div class="row">
            		<h3> Premium </h3>
            		<ul class="list-unstyled">
            			<li>All day video coverage with 2 videographers</li>
            			<li>Highlight video (4-7 minutes)</li>
            			<li>Extended coverage video (Live ceremony with complete speeches)</li>
            			<li>Content delivered on a USB stick in a customized wooden box</li>
            		</ul>
            	</div>
            	<div class="row">
            		<h3> Add ons </h3>
	            		<ul class="list-unstyled">
	            			<li>Pre-wedding, “Save The Date” or invitation video </li>
	            			<li>Additional videographers</li>
	            			<li>Drone footage</li>
	            			<li>Raw Footage</li>
	            			<li>Same day video</li>
	            		</ul>            		
            	</div>
            	<p> <b>Please let us know of any additional requests that you have. Contact us for pricing and custom packages.</b> </p>
            </div>
            <div class="col-md-1" id="border"></div>
        </div>
    </div>
</section>